body {
  overflow: scroll;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 120px;
  font-weight: bold;
  color: #2f4f4f;
  /* letter-spacing: 3px; */
  line-height: 1px;
  padding: 60px;
  margin: 20px
}

h2 {
  font-size: 30px;
  font-weight: 270;
  color: #002438dc;
  letter-spacing: 7px;
  line-height: 0px;
  padding: 20px;
  margin: 20px;
}



.App {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --------------TITLE------------- */
.Title {
  background-color: azure;
  height: 80vh;
  display: flex;
  /* margin: auto; */
  align-items: center;
  justify-content:center;
  flex-direction: column;
  /* border:solid rebeccapurple; */
  width: 100vw;
}

.hithere {
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.7s;
}

.name {
  animation-name: fadeInBottom;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-delay: 1.7s;
  background-image: url(./assets/bg1.jpg);
  background-size: 105%;
  background-position-y: 30%;
  background-position-x: 40%; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* --------------PORTRAIT------------- */
.Portrait {
  background-color: azure;
  background-image: url(./assets/portrait_watercolored.png);
  background-size: 100%;
  background-position-y: 50%;
  background-position-x: 50%;
  height: 200vh;
  display: flex;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border:solid rebeccapurple; */
  width: 100vw;
}

/* .portrait_img {} */


@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(69%);
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 690px) {
  h1 {
    font-size: 16vw;
  }
}